
.app-frame {
    position: absolute;
    margin: 0;
    padding: 0;
    left : 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    

    .header-bar {
        height: 3rem;
        line-height: 3rem;
        
    }

    .app-content {
        flex-grow: 1;
        overflow: auto;
        display: flex;
        overflow: auto;
        padding: 10px 15px;
    }
    .footer-bar {
        height: 2.5rem !important;
        line-height: 2.5rem !important;
    }
}