@import "variables";

.primary-bar {
    background: var(--primary-grad-color);
    border: 1px solid #000;
}
.secondary-bar {
    background: var(--secondary-grad-color);
    border: 1px solid #000;
}