:root {
    --primary-bg-color : #D1C4E9;
    --primary-fg-color : #1A237E;

    --inverse-bg-color : #000;
    --inverse-fg-color : #D1C4E9;
    

    --primary-color : #4A148C;
    --secondary-color : #BA68C8;
    --success-color : #009688;
    --info-color : #1976D2;
    --warning-color : #FB8C00;
    --danger-color : #e53935;

    --primary-grad-color : #4A148C; 
    --secondary-grad-color : #BA68C8;
    --success-grad-color : #009688;
    --info-grad-color : #1976D2;
    --warning-grad-color : #FB8C00;
    --danger-grad-color : #e53935;

    --base-font-size : 16px;
    --base-line-height: 25px;
}