:root {
    --primary-bg-color : #e4e4e4;
    --primary-fg-color : #000;

    --inverse-bg-color : #000;
    --inverse-fg-color : #e4e4e4;
    

    --primary-color : #2C3E50;
    --secondary-color : #95a5a6;
    --success-color : #18BC9C;
    --info-color : #3498DB;
    --warning-color : #F39C12;
    --danger-color : #E74C3C;

    --primary-grad-color : #2C3E50;
    --secondary-grad-color : #95a5a6;
    --success-grad-color : #18BC9C;
    --info-grad-color : #3498DB;
    --warning-grad-color : #F39C12;
    --danger-grad-color : #E74C3C;

    --base-font-size : 16px;
    --base-line-height: 25px;
}